@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;
@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
* {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
}
ul li {
	display: inline-block;
	list-style-type: none;
}
.navBar {
	display: none;
}
/*span {
	cursor: pointer;
}*/
label {
	cursor: pointer;
	font-size: 2em;
}
label:hover {
	color: red;
}
input[type=radio]:checked + label {
	color: red;
}
.section {
	text-align: center;
}
.test {
	background-color: grey;
	border: 1px solid black;
}
.arrowdown, .arrowup {
	cursor: pointer;
}
.arrowdown:hover {
	color: red;
}
.parent {
	position: relative;
	margin-bottom: 50px;
}
.child {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
/*
#mainSaction {
	background-image: url(../img/2.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#mediaSaction {
	background-image: url(../img/3.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.centerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}*/